.shop{
    width: 100%;
}
.shop .header{
    width: 100%;
}
.shop .header .head_tit{
    width: 100%;
    height: 0.6rem;
    background: #1CAFD0;
    color: #fff;
    line-height: 0.6rem;
}
.shop .header .head_tit>a{
    text-align: left;
    color: #fff;
}
.shop .header .head_tit>span{
    text-align: center;
}
.shop .header .head_show{
    width: 100%;
    height: 2.15rem;
}
.shop .header .head_txt{
    width: 100%;
    padding: 0.15rem 0.10rem;
}
.shop .header .head_txt .tit{
    margin-bottom: 0.15rem;
}
.shop .header .head_txt .price{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.shop .header .head_txt .price>span{
    color: red;
}
.shop .header .head_txt .price>span:nth-of-type(3){
    color: grey;
}
.shop .datalist{
    width: 100%;
    margin-top: 0.05rem;
}
.shop .datalist .tit{
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
}
.shop .datalist .tit>span{
    display: inline-block;
    color: grey;
    margin-right: 0.1rem;
}
.shop .datalist .piclist{
    width: 100%;
}
.shop .datalist .piclist .olist{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.shop .datalist .piclist .olist>li{
    width: 100%;
}
.shop .footer{
    position: fixed;
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #fff;
    text-align: center;
    background: #1CAFD0;
}
.shop .footer>a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}